@model WebASP.Models.LoaiNV

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LoaiNV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>tên loại</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiNV)
        </dd>

        <dt>
            <b>Mô tả</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaLoaiNV)
        </dd>

        <dt>
            <b>Quyền</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyenSD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLoaiNV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
