@model IEnumerable<WebASP.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Mã đơn hàng</th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.SerialNumber)
        </th>
        <th>
            <b>Giá</b>
        </th>
        <th>
            <b>Địa chỉ giao hàng</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDonHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGiaCT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCTDH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCTDH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCTDH })
        </td>
    </tr>
}

</table>
