@model IEnumerable<WebASP.Models.PhieuNhapSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <b>Tên nhà cung cấp</b>
        </th>
        <th>
           <b>Tên NV</b>
        </th>
        <th>
            <b>Ngày nhập</b>
        </th>
        <th>
            <b>Ghi chú</b>
        </th>
        <th>
            <b>Số lượng</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChuPN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLNhap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPN })
        </td>
    </tr>
}

</table>
