@model WebASP.Models.NhaSanXuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nhà sản xuất</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Tên</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNSX)
        </dd>

        <dt>
            <b>Quốc gia</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuocGiaNSX)
        </dd>

        <dt>
            <b>Địa chỉ</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNSX)
        </dd>

        <dt>
            <b>Mô tả</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaNSX)
        </dd>

        <dt>
            <b>Ghi chú</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChuNSX)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNSX }) |
    @Html.ActionLink("Back to List", "Index")
</p>
