@model WebASP.Models.GiaSP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Giá sản phẩm</h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiaSauUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSauUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaSPHienTai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSPHienTai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayApDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayApDung)
        </dd>

    </dl>*@

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
